<head>

<style type="text/css">
			* {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			body {background-color: Black ;

background-image:url(https://forums.macrumors.com/attachments/starwars-jpg.679769/);
background-repeat: no-repeat;              

}


h1 {
    color: Orange;
    margin-left: 40px;
} 
</style>
</head>
