<style type="text/css">
			* {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			body {background-color: DeepSkyBlue ;
}

body  {
background-image:url(https://wallpapercave.com/wp/8qnLWpb.jpg);
background-size:contain;
background-position:center;

}

           
			
			
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: #6495ED;}



h1 {
  color:yellow;
  font-family: serif;
} 


</style>
